<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        {% load socialaccount %}
        <meta charset="UTF-8">
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/stylesSignup.css">
        <title>Signup</title>
    </head>
    <body>
        <h1>Coach admin</h1>
        <div class="signup_container"> 
            <section class="signup_container--social-media">
                <div><img src="../static/images/googlelogo.png" alt="google-icon" width="50px"><a href="{% provider_login_url 'google' %}">Login with google</a></div>
            </section>
        </div>
    </body>
</html>


<!--
{% load socialaccount %}
<html>
  <head>
    <title>Google Registration</title>
  </head>
  <body>
  <h1>My Google Login Project</h1>
  {% if user.is_authenticated %}
  <p>Welcome, {{ user.username }} !</p>
 
  {% else %}
  <h1>My Google Login Project</h1>
  <a href="{% provider_login_url 'google' %}">Login with Google</a>
  {% endif %}

  </body>
</html>
-->